<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
    />
    <link rel="stylesheet" href="./css/style-home.css" />
    <title>Bienvenido a Dr Music</title>
  </head>
  <body>
    <!--INICIO DEL HEADER-->

    <%- include('./partials/header') %>

    <!--FIN DEL HEADER-->
    <main>
      <div class="banners">
        <img
          class="banner-inicial"
          src="img/banner-principal.jpg"
          alt="banner-inicial"
        />
        <p class="ir-tienda">
          <a href="http://localhost:3000/tienda">Ir a la Tienda</a>
        </p>
      </div>

      <section class="cuerpo-home">
        <div class="banda-izq">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            obcaecati voluptas nisi blanditiis, temporibus est ad ipsa ut nihil
            maiores. Eos ullam eius, obcaecati voluptatem accusantium aperiam?
            Nostrum, beatae nemo.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
            doloribus voluptatibus officia odio veritatis aperiam illum eveniet
            quibusdam, aliquid similique neque consequatur harum omnis
            perferendis, aut deserunt nam ducimus hic!
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque
            culpa quos quisquam, id dolore cupiditate eligendi cum, modi dolor
            harum fugit neque consequuntur aspernatur vitae? Dolorum dignissimos
            animi tempore cum.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
            doloribus illo ea dolor blanditiis natus nihil accusantium error
            eaque vero maxime, dignissimos, maiores repellendus doloremque
            officia, ex assumenda quae cupiditate.
          </p>
        </div>
        <div class="novedades">
          <div class="novedades-top">
            <div class="novedad">
              <img class="novedad-1" src="img/novedad-1.jpg" alt="novedad-1" />
              <h3>Lo nuevo del 2021</h3>
            </div>
            <img class="novedad-2" src="img/novedad-2.jpg" alt="novedad-2" />
          </div>
          <div class="novedades-bottom">
            <img class="novedad-3" src="img/novedad-3.jpg" alt="novedad-3" />
            <img class="novedad-4" src="img/novedad-4.jpg" alt="novedad-4" />
          </div>
          <h3 class="mas-vendido-texto">Nuestros productos mas vendidos</h3>
          <div class="mas-vendidos">
            <article class="mas-vendido-1">
              <img
                class="foto-mas-vendido-1"
                src="img/mas-vendido-1.jpg"
                alt="mas-vendido-1"
              />
              <div class="article-data">
                <p class="precio">$240.000</p>
                <p class="descuento">40% off</p>
              </div>
              <h4 class="producto">Fender Stratocaster</h4>
            </article>
            <article class="mas-vendido-2">
              <img
                class="foto-mas-vendido-2"
                src="img/mas-vendido-2.jpg"
                alt="mas-vendido-2"
              />
              <div class="article-data">
                <p class="precio">$34.000</p>
                <p class="descuento">10% off</p>
              </div>
              <h4 class="producto">Yamaha C-40</h4>
            </article>
            <article class="mas-vendido-3">
              <img
                class="foto-mas-vendido-3"
                src="img/mas-vendido-3.jpg"
                alt="mas-vendido-3"
              />
              <div class="article-data">
                <p class="precio">$41.000</p>
                <p class="descuento">30% off</p>
              </div>
              <h4 class="producto">Amplificador Marshall MG30FX</h4>
            </article>
            <article class="mas-vendido-4">
              <a href="http://localhost:3000/description"
                ><img
                  class="foto-mas-vendido-4"
                  src="img/mas-vendido-4.jpg"
                  alt="mas-vendido-4"
                />
              </a>
              <div class="article-data">
                <p class="precio">$410.000</p>
                <p class="descuento">30% off</p>
              </div>
              <h4 class="producto">Gibson Les Paul</h4>
            </article>
          </div>
        </div>
        <div class="banda-der">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
            obcaecati voluptas nisi blanditiis, temporibus est ad ipsa ut nihil
            maiores. Eos ullam eius, obcaecati voluptatem accusantium aperiam?
            Nostrum, beatae nemo.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis,
            doloribus voluptatibus officia odio veritatis aperiam illum eveniet
            quibusdam, aliquid similique neque consequatur harum omnis
            perferendis, aut deserunt nam ducimus hic!
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque
            culpa quos quisquam, id dolore cupiditate eligendi cum, modi dolor
            harum fugit neque consequuntur aspernatur vitae? Dolorum dignissimos
            animi tempore cum.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
            doloribus illo ea dolor blanditiis natus nihil accusantium error
            eaque vero maxime, dignissimos, maiores repellendus doloremque
            officia, ex assumenda quae cupiditate.
          </p>
        </div>
      </section>

      <div class="banners">
        <img
          class="banner-final"
          src="img/banner-final.jpg"
          alt="banner-final"
        />
      </div>
    </main>

    <!--INICIO DEL FOOTER-->

    <%- include('./partials/footer') %>


    <!--FIN DEL FOOTER-->
  </body>
</html>
